h1{
    color: orangered;
    background-image: url("Header1_background.png");
    text-align: left;
}
p{
    text-align: left;
}
a, a:link, a:visited{
    position: relative;
    left: 40%;
    background-color: bisque;
    color: black;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
a:hover, a:active{
    position: relative;
    left: 40%;
    background-color: grey;
    color: blue;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}